nav {
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
}

/* Icon 4 */

* {
  margin: 0;
  padding: 0; 
}

/* Icon 1 */

#nav-icon {
  width: 38px;
  height: 38px;
  padding: 10px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 50%;
  background: #FFF;
  border-radius: 0px;
  opacity: 1;
  left: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 12px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(3) {
  top: 24px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 12px;
  left: 12px;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 26px;
  left: 12px;
}


.line {
  background: linear-gradient(113.55deg, #d7c7f4 30.35%, #f8bdad 100%);
  height: 2px;
}
.right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.right .wallet {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.right .wallet svg {
  color: var(--primary-clr);
}
.right .wallet .wallet__id {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 10rem;
  font-size: 0.875rem;
  color: #5b5e6e;
}
.dropdown-mobile {
  display: none;
}
.dropdown-mobile .dropdown-button {
  border-radius: 22px;
  display: flex;
  align-items: center;
  padding-inline: 0.5rem;
  padding-block: 0.5rem;
  cursor: pointer;
  color: #fff;
  background-color: var(--primary-clr);
}
.dropdown-mobile .dropdown-content {
  display: none;
}
.dropdown-mobile .dropdown-content.opened {
  display: block;
  position: absolute;
  background-color: var(--primary-clr);
  width: 100%;
  box-shadow: 0 2px 8px var(--primary-clr);
  z-index: 1;
  border-radius: 0 0 22px 22px;
  left: 0;
  top: 4.5rem;
}
.dropdown-mobile .dropdown-content.opened .divider {
  height: 2px;
  background-color: #fff;
  margin: 0;
  margin-inline: 0.5rem;
}

.dropdown-mobile .dropdown-content.opened a {
  color: var(--bg-clr);
  padding: 1rem;
  text-decoration: none;
  display: block;
}

.dropdown-mobile .dropdown-content.opened a:hover {
  text-decoration: underline;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .dropdown-button {
  border-radius: 22px;
  display: flex;
  align-items: center;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  gap: 0.625rem;
  cursor: pointer;
  color: #fff;
  background-color: var(--primary-clr);
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--primary-clr);
  width: 100%;
  box-shadow: 0 2px 8px var(--primary-clr);
  z-index: 1;
  border-radius: 0 0 22px 22px;
}
.dropdown .dropdown-content .divider {
  height: 2px;
  background-color: #fff;
  margin: 0;
  margin-inline: 0.5rem;
}

.dropdown .dropdown-content a {
  color: var(--bg-clr);
  padding: 1rem;
  text-decoration: none;
  display: block;
}

.dropdown .dropdown-content a:hover {
  text-decoration: underline;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown-button {
  box-shadow: 0 2px 8px var(--primary-clr);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@media screen and (width<=475px) {
  header .right .wallet {
    display: none;
  }
  .dropdown {
    display: none;
  }
  .dropdown-mobile {
    display: block;
  }
}
