@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeSpeed;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
  color: inherit;
}
input,
select {
  border-radius: 0.25rem;
  background-color: #eef7fd;
  padding: 0.5rem 1rem;
}
input:active,
input:focus {
  border: none;
  outline: none;
}

:root {
  font-size: 16px;
  --text-clr: #25283c;
  --bg-clr: #ffffff;
  --primary-clr: #8c5ae8;
  --border-clr: #a8a8a8;
  --gray-2-clr: #f5f5f5;
  font-family: "Poppins";
  color-scheme: light;
  --container-padding: 8.3%;
  --green-clr: #4dd185;
  --orange-clr: #ffa300;
}

.container {
  padding-inline: var(--container-padding);
}

.btn {
  border-radius: 22px;
  display: flex;
  align-items: center;
  padding-inline: 1.5rem;
  padding-block: 0.5rem;
  gap: 0.625rem;
  cursor: pointer;
  transition: box-shadow 200ms ease-in;
}
.btn:hover {
  box-shadow: 0 2px 8px var(--primary-clr);
  transition: box-shadow 200ms ease-in;
}
.btn.bordered {
  color: var(--primary-clr);
  border: 1px solid var(--primary-clr);
  background-color: transparent;
}
.btn.filled {
  color: #fff;
  background-color: var(--primary-clr);
}
.select {
  cursor: pointer;
  position: relative;
}
.select .select-outside{
  display: flex;
  gap: .5rem;
}
.select .select-inside {
  display: none;
  flex-flow: column nowrap;
  gap: .3rem;
  background-color: var(--primary-clr);
  position: absolute;
  bottom: -70px;
  left: 0;
  list-style: none;
  color: var(--bg-clr);
  padding: .625rem;
  border-radius: .25rem;
  border: 1px solid var(--bg-clr);
  font-size: .875rem;
}
.select .select-inside.opened{
  display: flex;
}
.select .select-inside li{
  cursor: pointer;
}
.select .select-inside li.active{
  font-weight: 600;
}
.select .select-inside li.active::after{
  content: '✓';
  margin-left: .25rem;
}

@media screen and (width <= 425px) {
  .container {
    --container-padding: 2.35%;
  }
}
