/*do not show default header*/
header.sign{
    .line{
        display: none;
    }
    nav{
        justify-content: flex-end;
        .logo{
            display: none;
        }
        .right{
            .wallet{
                display: none;
            }
        }
    }
}

.login {
  padding-left: 14rem;
}
.underline {
  position: relative;
  left: -50%;
  background: linear-gradient(113.55deg, #d7c7f4 30.35%, #f8bdad 100%);
  height: 2px;
}
